<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Forgot Password</title>
<link rel="stylesheet" href="forgotpassword.css">
</head>
<body>
<div class="forgotpassword">
    <!-- Display the message -->
    <div th:text="${message}" class="message"></div>
    <h2>Forgot Password</h2>
    <form id="forgotPasswordForm" action="/forgot-password" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Reset Password</button>
    </form>
</div>

<script>
    // Check if the message is success, then redirect to login page after 3 seconds
    var message = document.querySelector('.message').innerText;
    if (message === 'Password updated successfully') {
        setTimeout(function() {
            window.location.href = '/map-login';
        }, 1000); // Redirect after 3 seconds
    }
</script>

</body>
</html>
