<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" href="index.css">
</head>
<body>

<header>
  <h1>MelodyMingle</h1>
  <p>Where Music Meets You</p>
</header>
<main>
  <section id="about-app">
    <h2>About MelodyMingle</h2>
    <img src="image/home.jpg" alt="MelodyMingle App">
    <p>MelodyMingle is a music streaming platform that offers a vast collection of songs and curated playlists. Our platform is designed to provide an immersive music experience for users of all tastes and preferences. With our Premium membership, you can unlock exclusive playlists and enjoy uninterrupted listening. Join MelodyMingle today and discover a world of music tailored just for you.</p>
  </section>
  <section id="get-started">
    <h2>Get Started</h2>
    <a href="/map-register">Register</a>
    <a href="/map-login">Login</a>
  </section>
</main>

</body>
</html>

