<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Playlist Created Successfully</title>
<link rel="stylesheet" href="playlistsuccess.css">
</head>
<body>
<div class="playlist-success">
  <h1>Playlist Created Successfully</h1>
  <p>Your playlist has been created successfully.</p>
  <button onclick="goBack()">Go Back to Admin Home</button>
</div>
<script>
function goBack() {
  history.go(-2); // Go back two pages
}
</script>
</body>
</html>
